* {
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans;
    box-sizing: border-box;
}

body {
    background-color: #181d32;
    font-family: 'Titillium Web', sans-serif;
    
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#logo {
  max-width: 150px;
  margin-left:1em;
}

header > h1 {
    margin-left: 2em;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
}

header > a {
  
  margin-top: 3em;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;

}

main {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1em;
    clear: both;
    border: 3px dashed #ffc20e;
}

section {
    padding: 1em;
    min-height: 88vh;
}



.instructions {
    background-color: #fff;
}

.troubleshooting {
    background-color: #d8e1e2
}

.correct {
    background-color: #8db559;
}

section h2 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.troubleshooting img {
    width: 600px;
    height: auto;
}

.troubleshooting li {
  margin:0.25em;
}

.troubleshooting p:nth-last-child(1) {
  margin: 2em;
}

#show {
  height: 3em;
}

iframe {
  display: block;
	margin: 0 auto; 
}

.instructions  li {
  margin:0.25em;  
}